---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = 'My Astro Site';
---

<BaseLayout title={title}>
    



    <div style="height: 2000px">test scroll</div>

    <!--
        - You can also use imported framework components directly in your markup!
        -
        - Note: by default, these components are NOT interactive on the client.
        - The `:visible` directive tells Astro to make it interactive.
        -
        - See https://docs.astro.build/core-concepts/component-hydration/ 
        -->
</BaseLayout>
