---
import BaseLayout from '../layouts/BaseLayout.astro'

// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!

import Test from '../components/Test/Test.tsx';
---

<BaseLayout title="Homepage">
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>

        <Test>Test React content - <a href="/">Link</a></Test>

        <Tour />

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->

    </main>
</BaseLayout>
