@import "../../styles/scss/01-config/config-manifest.scss";

.#{$prefix}-grid-lines {
    transform: translateX(-50%);

    @apply hidden lg:block container h-full fixed left-1/2 border-l border-r border-coolGray-200 -z-1;

    &::before,
    &::after {
        width: 1px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;

        @apply bg-coolGray-200;
    }

    &::before {
        @apply left-1/3;
    }

    &::after {
        @apply right-1/3;
    }
}

.#{$prefix}-grid-lines__scroll {
    width: 2px;
    top: 136px;
    left: -2px;

    @apply fixed bottom-0 bg-coolGray-900 origin-top-left;
}
