---
import Cursor from '../components/Cursor/Cursor.tsx';

const {title} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Example Layout: {title}</title>

        <link rel="icon" type="image/x-icon" href="./favicon.svg" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{Astro.resolve('../styles/scss/global.css')}">
    </head>
    
    <body>
        <!-- Adds a navigation bar to every page. -->
        <nav>
            <a href="#">Home</a>
            <a href="#">Posts</a>
            <a href="#">Contact</a>
        </nav>
        <!-- slot: your page content will be injected here. -->
        <slot />

        <Cursor client:load />
    </body>
</html>
